<div
class="container-fluid subscribe-field d-flex align-items-center"
style="background-image: url('assets/images/index10.jpg')"
>
<div class="container">
  <h2 class="text-gray-600">記得 <br />訂閱以獲取更多資訊！</h2>
  <div class="subscribe d-flex ">
    <div class="row w-100">
      <div class="col-12 col-md-4 d-flex">
        <input
          class="subscribe-text border-primary"
          placeholder="Your email address"
        />
        <input
          type="button"
          class="btn btn-primary subscribe-button"
          value="Subscribe"
        />
      </div>
    </div>
  </div>
</div>
</div>