<div class="footer container-fluid bg-primary">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="w-100 d-flex align-items-center justify-content-between justify-content-md-start">
            <h1 class="mb-md-0 px-md-0 py-md-4">   
                <a href="index.html" class="logo d-block text-hide" >D'Pereume LOGO
                </a>            
            </h1>
            <span class="d-block ml-md-4 text-white">© 2020. All Rights Reserved.</span>
        </div>
        <div>
            <ul class="d-flex">
                <li class="mr-md-5">
                    <a href="#" class="d-none text-md-lg text-white d-md-block">Product</a>
                </li>
                <li class="mr-md-5">
                    <a href="#" class="d-none text-md-lg text-white d-md-block">Blog</a>
                </li>
                <li>
                    <a href="#" class="d-none text-md-lg text-white d-md-block">Contact</a>
                </li>
            </ul>
        </div>
        

    </div>

</div>