<nav class="navbar navbar-expand-md navbar-light px-0" >
    <div class="container-fluild container-lg d-flex justify-content-between">
        <h1 class="px-4 px-md-0">   
            <a href="index.html" class="logo d-block text-hide">D'Pereume LOGO
            </a>
        </h1>
        <div class="navbar">
            <div class="shopping-cart mr-4">
                <div class=" d-block d-md-none">
                    <a href="#" class="shopping-cart-link d-block text-lg text-gray-600 py-3 py-md-0">
                        <i class="fas fa-shopping-cart text-xl d-md-inline-block shopping-cart-icon"></i>
                        <span class="shopping-cart-number">3</span>
                    </a>
                </div>
            </div>

            <div class="navbar-toggler border-0">
                <a href="#" class="d-block text-lg text-gray-600 py-3 py-md-0">
                    <i class="fas fa-bars fa-2x d-md-inline-block"></i>
                    
                </a>
            </div>
            <ul class="navbar-collapse text-center d-none d-md-block">
                <li class="mr-md-2 ">
                    <a href="product.html" class="d-block text-lg text-gray-600 py-3 py-md-0 " >
                        <i class="fas fa-store-alt text-grey-600"></i>
                        Product
                    </a>
                </li>
                <li class="mr-md-2 mr-md-3">
                    <a href="#" class="d-block text-lg text-gray-600 py-3 py-md-0" >
                        <i class="fas fa-user-alt d-md-inline-block"></i>
                        log in
                    </a>
                </li>
                <li class="mr-md-2 mr-md-3">
                    <a href="#" class="d-block text-lg text-gray-600 py-3 py-md-0" >
                        <i class="fas fa-heart d-md-inline-block"></i>
                        Product
                    </a>
                </li>
                <li class="mr-md-2 ">
                    <a href="#" class="d-block text-lg text-gray-600 py-3 py-md-0">
                        <i class="fas fa-shopping-cart d-md-inline-block"></i>
                        <span>Cart(3)</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- <div class="collapse navbar-collapse d-flex " id="navbarNav">
            <div class="cart">
                <div class="mr-md-2 ">
                    <a href="#" class="d-block text-lg text-md-gray-600 py-3 py-md-0">
                        <i class="fas fa-shopping-cart d-md-inline-block"></i>
                        Cart(3)
                    </a>
                </div>
            </div>
            <ul class="navbar-nav  text-center">

                <li class="mr-md-2 mr-md-3">
                    <a href="#" class="d-block text-lg text-md-gray-600 py-3 py-md-0 " >
                        <i class="fas fa-store-alt d-md-inline-block"></i>
                        Product
                    </a>
                </li>
                <li class="mr-md-2 mr-md-3">
                    <a href="#" class="d-block text-lg text-md-gray-600 py-3 py-md-0" >
                        <i class="fas fa-user-alt d-md-inline-block"></i>
                        log in
                    </a>
                </li>
                <li class="mr-md-2 mr-md-3">
                    <a href="#" class="d-block text-lg text-md-gray-600 py-3 py-md-0" >
                        <i class="fas fa-heart d-md-inline-block"></i>
                        Product
                    </a>
                </li>

            </ul> -->
        </div>
    </div>
</nav>

