<div class="d-none d-md-block container-fluid bg-primary">
    <div class="container-fluid container-lg">
        <ul class="d-flex py-3">
            <li><a href="#" class="text-lg text-white mr-md-4">CHANEL</a></li>
            <li><a href="#" class="text-lg text-white mr-md-4">Jo Malone</a></li>
            <li><a href="#" class="text-lg text-white mr-md-4">Curology</a></li>
            <li><a href="#" class="text-lg text-white mr-md-4">Dior</a></li>
            <li><a href="#" class="text-lg text-white mr-md-4">Chloe</a></li>
            <li><a href="#" class="text-lg text-white mr-md-4">ZARA</a></li>
        </ul>
    </div>
</div>
